* {
    margin: 0;
    padding: 0;
    color: white;
}
/* nav ul {
    background-color: #202020;
    display: flex;
    justify-content: space-between;
}

nav a {
    padding: 20px;
} */

nav {
    background-color: #333; /* Dark background for the navbar */
    padding: 10px; /* Padding around the navbar */
}

nav ul {
    list-style-type: none; /* Remove default bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Display list items in a row */
    justify-content: space-around;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}
