nav {
    background-color: #333; /* Dark background for the navbar */
}

nav ul {
    list-style-type: none; /* Remove default bullet points */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Display list items in a row */
    justify-content: space-between; /* Distribute space between items */
}

nav li {
    flex-grow: 1; /* Allow list items to grow and take up space */
    text-align: center; /* Center the text in each list item */
}

nav a {
    color: white; 
    text-decoration: none; 
    padding: 20px; 
    display: block; 
    transition: background-color 0.3s; 
    font-size: 20px;
}

nav a:hover {
    background-color: #555;
}

.heading{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 7vh;
}


.left-text {
    width: 70%;
    margin-left: 150px;
    font-size: 18px;
}

.left-image {
    border-radius: 10%;
    border: 2.5px solid transparent;
    border-color: grey;
    width: 30%;
    margin-left: 250px;
    
}

.right-text{
    width: 70%;
    font-size: 18.3px;
    margin-left: 80px;
    margin-bottom: 30px; 
}

.right-image {
    
    border-radius: 10%;
    border: 2.5px solid transparent;
    border-color: grey; 
    width: 28%;
    margin-left: 220px;
}



.big {
    display: flex;
}