* {
    margin: 0;
    padding: 0;
}
.container{
    display:flex;
    justify-content:start;
    gap:10px;
    align-items: center;
    flex-direction: column;
}
.navbar {
    background-color: #333;
    position: fixed;
    top:0;
    width:100%;
}

nav ul {
    list-style-type: none;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Display list items in a row */
    justify-content: space-between; /* Distribute space between items */
    align-items: center;
}

nav li {
    flex-grow: 1; /* Allow list items to grow and take up space */
    text-align: center; /* Center the text in each list item */
}

nav a {
    color: white; 
    text-decoration: none; 
    padding: 20px; 
    display: block; 
    transition: background-color 0.3s; 
    font-size: 20px;
}

nav a:hover {
    background-color: #555;
}

nav {padding:0;}

body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background-color: rgb(27, 0, 0);
}
img {
    margin-left: 15vh;
    padding: 5vh;
    padding-top: 7vh;
    width: 60vh;
    height: 80vh;
}
div {
    color: rgb(255, 255, 255);
    width: 50%;
    padding: 20vh;
}
h1{
    padding-top: 10vh;
    font-size: 8vh;
    font-family: "Fira Sans", sans-serif;
}
ul{
    font-size: 3vh;
    font-family: "Fira Sans", sans-serif;
}
/* li{
    padding: 2vh;
} */