* {
    margin: 0;
    padding: 0;
}

.marked {
    background-color: #101010;
}
.marked:hover {
    background-color: #101010;
}

nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    display: flex; /* Display list items in a row */
    justify-content: space-between; /* Distribute space between items */
}

nav li {
    flex-grow: 1; /* Allow list items to grow and take up space */
    text-align: center; /* Center the text in each list item */
}

nav a {
    color: white; 
    text-decoration: none; 
    padding: 20px; 
    display: block; 
    transition: background-color 0.3s; 
    font-size: 20px;
}

nav a:hover {
    background-color: #555;
}
body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    background-color: rgb(27, 0, 0);
}
img {
    margin-left: 15vh;
    padding: 5vh;
    width: 60vh;
    height: 80vh;
}
div {
    color: rgb(255, 205, 205);
    width: 50%;
    padding: 20vh;
}
h1{
    font-size: 10vh;
}
ul{
    font-size: 4vh;
}
li{
    padding: 2vh;
}